.date-input__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5rem 0;

	&--left {
		width: 40%;

		label {
			margin: unset;
		}
	}

	&--right {
		flex-grow: 1;

		input {
			color: black;
			border: 1px solid black;
			border-radius: 4px;
		}
	}
}
