.start-audio-button {
	color: white;

	.play-icon,
	.pause-icon {
		border: none;
		display: inline;
		font-size: 2.6rem;
		display: inline-block;

		&:hover {
			cursor: pointer;
		}

		&:active {
			transform: translateY(1px);
		}
	}
}
