.volume-control {
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .volume-icon{
    margin-right: 15px;
    color: white;
    border: none;
    cursor: pointer;
  }

  .fa-volume-down {
    margin-right: 27px;
  }

  .fa-volume-off {
    margin-right: 35px;
  }
}




