.volume-control {
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .volume-icon{
    margin-right: 15px;
    color: white;
    border: none;
  }
}




