.date-input__container {
	display: flex;
	flex-direction: row;

	&--left {
		width: 30%;
	}

	&--right {
		flex-grow: 1;

		input {
			color: black;
			border: 1px solid black;
			border-radius: 4px;
		}
	}
}
