.sidebar {
	color: white;
	// max-height: 60vh;
	overflow: scroll;

	&__top {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		&-body {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}
	}
}
