.data-card {
	width: 100%;
	color: white;
	background: rgb(33, 96, 168);
	background: linear-gradient(
		135deg,
		rgba(48, 48, 48, 1) 0%,
		rgba(69, 69, 69, 1) 50%,
		rgba(48, 48, 48, 1) 100%
	);

	margin-bottom: 1rem;
	border-radius: 4px;
	padding: 0.5rem 0.6rem;

	&__title {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.9rem;
	}

	&__body--top,
	&__body--bottom {
		display: flex;

		&-left {
			width: 10%;
			font-size: 0.65rem;
			font-weight: bold;
			align-self: center;
			text-orientation: upright;
		}

		&-right {
			flex-grow: 1;
			display: flex;
			justify-content: space-evenly;

			span {
				font-size: 0.95rem;
				font-weight: bold;
			}
		}

		&-left,
		&-right {
			&-case {
				color: rgb(207, 207, 5);
			}

			&-death {
				color: rgb(236, 62, 62);
			}

			&-recover {
				color: rgb(2, 138, 2);
			}
		}
	}

	&__footer {
		font-size: 0.7rem;
		display: flex;

		&--left {
			width: 10%;
		}

		&--right {
			flex-grow: 1;
			display: flex;
			justify-content: center;

			span {
				margin: 0 0.2rem;
			}
		}
	}
}
