.data-component {
	padding: 2rem;

	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	height: 100%;

	&__left {
		width: 80%;
	}

	&__right {
		padding-left: 2rem;
		width: 20%;
		// height: 70vh;
		align-self: flex-start;
		height: 85vh;
	}
}
