.about {
	&__container {
		height: 100%;
		background-color: #272727;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: scroll;
	}

	&-cards__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		height: 80%;
		width: 80%;
		// overflow: scroll;
	}
}
