.about--card {
	display: flex;
	flex-direction: column;
	height: 10rem;
	width: 24rem;
	color: white;
	margin: 2rem 2rem 0.5rem 2rem;

	&:hover {
		transform: translateY(-3px);
		transition: all 0.2s linear;
	}

	&-title {
		height: 15%;
		margin-bottom: 1rem;

		h1 {
			font-size: 1.5rem;
		}

		svg {
			margin-right: 0.8rem;
		}
	}

	&-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		overflow: scroll;
		height: 85%;

		p,
		span {
			font-size: 0.8rem;
		}

		a {
			color: lightskyblue;
		}
	}
}
